# URL del backend API (local development)
VITE_API_URL=http://localhost:8001

# API Key de ImgBB para subida de imagenes
# Obtenerla en: https://api.imgbb.com
VITE_IMGBB_KEY=887cde86aa296117687ce80b27e4598e
